:root {
	--color-1: rgb(250, 250, 250);
	--color-2: rgb(243, 243, 243);
	--color-3: rgb(235, 235, 235);
}

html {
	font-family: "Candara Light", Candara, sans-serif;
	background-color: white;
}

body {
	max-width: 800px;
	margin: 16px;
	background-color: white;
}

.header-bar {
	height: 47px;
	width: 100%;
	
	background-color: var(--color-3);
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;

	& a {
		height: 100%;
		width: 96px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
		text-decoration: none;

		&:hover {
			background-color: white;
		}
	}

	& p {
		height: 100%;
		width: fit-content;
		margin: 0;
		padding: 0 32px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&:first-of-type {
			margin-left: 0;
			padding-left: 24px;
		}
	}
}

.content {
	max-width: 100%;
	background-color: var(--color-1);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	& .container {
		min-height: 160px;
		width: 360px;
		margin: 10px;
		padding: 8px;
		border: black solid 1px;
		border-radius: 5px;
		background-color: white;
		display: flex;
		flex-wrap: wrap;

		& h2 {
			height: 32px;
			width: 100%;
			margin: 0;
			padding: 0;
			font-size: 24px;
		}

		&.notes .wrapper {
			height: 192px;
			width: 100%;
			padding: 8px 6px 8px 8px;
			border-radius: 10px;
			background-color: var(--color-2);

			& textarea {
				height: 100%;
				width: 100%;
				margin: 0;
				padding: 0;
				border: none;
				border-radius: 4px;
				background-color: var(--color-2);
				resize: none;
				overflow-x: hidden;
				overflow-y: scroll;
				font-size: 14px;
				
				&:focus {
					outline: none;
				}
				
				&::-webkit-scrollbar {
					width: 8px;
					cursor: pointer;
				}

				&::-webkit-scrollbar-track {
					background-color: var(--color-2);
					cursor: default;
				}

				&::-webkit-scrollbar-corner {
					background-color: var(--color-2);
					cursor: default;
				}

				&::-webkit-scrollbar-thumb {
					background-color: var(--color-3);
					border-radius: 6px;
					cursor: pointer;

					&:active {
						cursor: grabbing;
					}
				}

				&::-webkit-scrollbar-button {
					display: none;
				}
			}
		}
	}
}



