:root {
	--appointments-width: 600px;
	--appointment-width: 80%;
	
}

html {
	font-family: "Candara Light", Candara, sans-serif;
}

body {
	margin: 0 16px;
}

.appointments-container {
	min-height: 120px;
	width: var(--appointments-width);
	margin: 16px 0;
	padding: 14px;
	border: black solid 2px;
}

.appointments-container h2 {
	height: 30px;
	margin: 0;
	padding: 0;
	border-bottom: black solid 2px;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 24px;
}

.appointments-container .container {
	min-height: 24px;
	width: 100%;
	margin: 0 0 4px 0;
}

.appointments-container .container h3 {
	height: 24px;
	margin: 20px 0 0 0;
	padding: 0;
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}

.appointments-container .appointment-container {
	height: 40px;
	width: var(--appointments-width);
	margin: 0 0 4px 0;
	border-bottom: black solid 1px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.appointment-container .info {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.appointment-container .time {
	height: 100%;
	width: 120px;
	display: flex;
	align-items: flex-end;
	font-size: 16px;
	font-weight: bold;
	white-space: pre;
	overflow: hidden;
}

.appointment-container .name {
	height: 100%;
	max-width: 360px;
	min-width: 0;
	margin: 0 0 0 4px;
	display: flex;
	align-items: flex-end;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* VIEW BUTTON */
.appointment-container .view {
	height: 32px;
	width: 48px;
	border: 1px solid #007bff;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	text-decoration: none;
}

.appointment-container .view:hover {
	background-color: #007bff;
	color: white;
}