<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Appointment</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/appointments.css') }}">
	</head>
	<body>
		<form method="POST" action="{{ url_for('appointment_end', appointment_id=appointment['ID']) }}">
			<div class="header-bar">
				<a class="home-button" href=" {{ url_for('home')}} "><strong>HOME</strong></a>
				<p><strong>ID</strong>{{ patient["ID"] }}</p>
				<p><strong>Time</strong>{{ appointment["APPOINTMENT_TIME"] }}</p>
				<p><strong>Patient Name</strong>{{ patient["NAME"] }}</p>
				<button type="submit" class="end-button"><strong>END</strong></button>
			</div>
			<div class="content">
				<div class="container notes">
					<h2>Notes</h2>
					<div class="wrapper">
						<textarea name="notes" maxlength="512">{{ appointment["NOTES"] }}</textarea>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>