<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Physician Home</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home_physician.css') }}">
	</head>
	<body>
		<h1>Welcome, Dr. {{ user["NAME_FIRST"] }}!</h1>
		<p>You are logged in as a <strong> {{ user["ROLE"] }}</strong>.</p>
		<a href="{{ url_for('logout') }}">Logout</a>
		<br>
		<div class="appointments-container">
			<h3>Appointments</h3>
			{% for appointment in appointments %}
				<div class="appointment-container">
					{{appointment["TIME"]}} - {{appointment["NAME"]}}
				</div>
			{% endfor %}
		</div>
		
		

		<script src="{{ url_for('static', filename='js/home_physician.js') }}"></script>
	</body>
</html>